

  .cathegories{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 190px;
    height: 200vh;
    max-width: 100%;
    overflow-y: hidden;
    margin-top: -40px;
  }
  .cathegory {
    margin-right: 0px; 
  }
  .cathegory:nth-child(1) { margin-right: 200px; } 
  .cathegory:nth-child(2) { margin-right: 200px; } 
  .cathegory:nth-child(3) { margin-right: 200px; } 
  .cathegory:nth-child(4) { margin-right: 100px; }
  .line5{
    position:absolute;
    top: 37%;
    border: 1px solid #815d5d;
    width:79%;
    margin-left: 4%;
  }
  .fav_song-list {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    position: relative;
    top: -15%;
    height: 440%;
    width: 82%;
    overflow-y: auto;
    padding: 10px;
    scrollbar-width: none;
  }
  
  .fav_songs {
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin-right: 0px;
  }
  
  .fav_song-item {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 0px;
    width: 100%;
    border: 1px solid #744b4b8e;
    border-right: none;
    border-left: none;
    border-top: none;
    width: 100%;
  }
  
  .fav_album-cover {
    width: 130px;
    height: 130px;
    padding: 10px;
    object-fit: cover;
  }
  
  .fav_song-details {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 0fr;
    align-items: center;
    width: 100%;
  }
  .edit-button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    border-radius: 40px;
    border: 3px solid white;
    width: 350px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
.search-container {
    display: flex;
    align-items: center;
    gap: 8px; 
    border: 2px solid white;
    border-radius: 25px; 
    padding: 8px 15px; 
    width: 300px; 
    background-color: transparent;
    position: relative;
  }
  .search-input {
    flex: 1; 
    border: none;
    border-left: 2px solid white; 
    outline: none;
    background: transparent;
    color: white;
    font-size: 15px;
  }
  
  .search-icon {
    color: white;
    font-size: 20px;
  }